.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 1em;
  width: 100%;
  text-align: center !important;
}

.flexbox {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 55vh;
  align-items: center;
}

.box {
  margin: 1em;
  width: 100%;
  padding: 0.5em;
  border-radius: 15px;
}

.box.confirmed {
  border: 1px solid grey;
  background: lightgrey
}

.box.recovered {
  border: 1px solid green;
  background: lightgreen
}

.box.deaths {
  border: 1px solid red;
  background: tomato
}

@media screen and (min-width: 800px) {
  .flexbox {
    flex-wrap: nowrap;
  }
}